1. Convert given hrs & mins in second

In [1]:
hr = int(input("enter the hours: "))
min = int(input("enter the minutes: "))
sec = (hr*3600)+(min*60)
sec = (hr*3600)+(min*60)
print(hr, 'hours and',min,'minutes are total',sec,'seconds')

enter the hours: 3
enter the minutes: 30
3 hours and 30 minutes are total 12600 seconds

2. Write code to find the average of ‘n’
numbers entered by the user to function avg ( ).

In [6]:
def avg():
  num = int(input("enter the numbers: "))
  total = 0
  for n in range(num):
    numbers = float(input("enters the number: "))
    total+=numbers
  avg = total/num
  print("the avg of numbers is: ",avg)

In [8]:
avg()

enter the numbers: 2
enters the number: 3
enters the number: 4
the avg of numbers is:  3.5

3. Convert Paise in Rupees &
Paises

In [9]:
p = 100
rs = int(input("enter the amount in rupees: "))
total = rs*p
print(total,"paise")

enter the amount in rupees: 4
400 paise

4. Accept String & print only alternate
characters on a string.

In [28]:
s = input("enter the string: ")
print("1st method")
for i in s:
  if((s.index(i)%2)!=0):
    print(i)
print("2nd number")
print(s[1::2])

enter the string: barkha
1st method
a
k
a
2nd number
aka

5. draw a pattern

In [14]:
row = 5
i = 1
while(i<=row):
  j = 1
  while(j<=i):
    print((i*2-1),end=" ")
    j = j+1
  i = i+1
  print(" ")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

6. Write a code to accept a number & print in words

In [27]:
n=int(input("Enter the digit form 0 to 9 : "))
print("Entered Digit is : ",end='')
if n==0:
    print("Zero")
elif n==1:
    print("One")
elif n==2:
    print("Two")
elif n==3:
    print("Three")
elif n==4:
    print("Four")
elif n==5:
    print("Five")
elif n==6:
    print("Six")
elif n==7:
    print("Seven")
elif n==8:
    print("Eight")
elif n==9:
    print("Nine")
else:
    print("Not a Digit")

Enter the digit form 0 to 9 : 3
Entered Digit is : Three

# New section